@section Content
{
    <h1 class="main-text center-text">Mailings application</h1>
    <p class="center-text">Application which helps organizing a mailing lists.</p>
    <div class="text-block">
        <p>Currently is in beta test</p>
        <p>
            If you would like to get an access to beta test, 
            please write on email 
            <a class="email" href="@ViewBag.WriteToEmailLink" target="_blank">
                oleksii.havryk2004@gmail.com
            </a>
        </p>
    </div>
}