@model IEnumerable<MailingViewModel>
@section Content
{
    <h2 class="main-text">All mailing groups in system</h2>
    <div class="action-block">
        <btn action="Create" controller="Mailings">Create</btn>
    </div>
    @if (Model.Any())
    {
        <list struct="Entity">
            @foreach (var el in Model) {
                <el>
                    @await Component.InvokeAsync("MailingEntity", el)
                </el>
            }
        </list>
    }
    else
    {
        <div class="text-block">
            <p>Currently you not create any groups.</p>
            <p>If you want to add new group in system:
                <a class="text-value-marker" asp-action="Create" asp-controller="Mails">
                    click here
                </a>.
            </p>
        </div>
    }
    @await Component.InvokeAsync("Pagination", new
    {
        viewModel = ViewBag.Pagination,
        action = "All",
        controller = "Mailings"
    })
}