@font-face {
    font-family: "Cabin";
    src: url('fonts/Cabin/Cabin-Bold.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-BoldItalic.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-Italic.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-Medium.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-MediumItalic.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-Regular.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-SemiBold.ttf') format('truetype'),
         url('fonts/Cabin/Cabin-SemiBoldItalic.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    font-family: Cabin;
}

/*
    Common header style [BEGIN]
*/

.header {
    background-color: #F8F8F8;
}
.header-block {
    padding: 10px;
}
.header-upper-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.company-logo {
    width: 50px;
    height: 50px;
}
.header-text {
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.navigation {
    padding: 5px 0;
    display: flex;
}
.navigation > * {
    text-align: center;
    flex-basis: 10%;
}
.navigation > .navigation-section {
    padding: 2.5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
}
.navigation > .navigation-section:last-child {
    margin-right: 0;
}

/*
    Common header style [END]
*/

/*
    Common content style [BEGIN]
*/

.content {
    width: 80%;
    margin: 0 auto;
}
.main-text {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
}
.center-text {
    text-align: center;
}
.text-block {
    padding: 10px;
    text-align: center;
    background-color: #494949;
    color: white;
}
.action-block {
    padding: 10px 0;
    text-align: center;
}
.action-block > * {
    margin: 5px;
}
.text-block p {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
}
.block-list {
    padding: 10px 5px 10px 20%;
    background-color: #373737;
    list-style-type: none;
    color: white;
}
.block-list-element {
    background-color: #ababab;
    padding: 5px;
    border-bottom: 5px solid #373737;
}
.block-list-element:last-child {
    border-bottom: none;
}
.block-list-header {
    background-color: #ababab;
    padding: 5px;
    border-bottom: 5px solid #373737;
    text-align: center;
    font-size: 22px;
}
.entity-list {
    padding: 5px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.entity-list-element {
    color: white;   
    margin-bottom: 10px;
}
.entity-list-element:last-child {
    margin-bottom: 0;
}
.entity-list-header {
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
}
.text-list {
    padding: 10px;
    background-color: #696969;
    list-style-type: none;
    color: white;
}
.text-list-element {
    background: #373737;
    margin-bottom: 5px;
    padding: 5px;
}
.text-list-element:last-child {
    margin-bottom: 0;
}
.text-list-header {
    background: #373737;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 22px;
    text-align: center;
}
.button {
    color: white;
    text-decoration: none;
    padding: 2.5px 7.5px;
    margin: 0px;
    display: inline-block;
    background-color: black;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    text-indent: 0;
}
.button:hover {
    text-decoration: underline;
}

/*
    Common content style [END]
*/

/*
    Common form style [BEGIN]
*/
.validation-summary-errors {
    margin: 10px 0;
    padding: 10px 0 10px 20%;
    background-color: #ababab;
    color: white;
}
.validation-summary-errors > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.form-section {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ababab;
    margin: 10px auto;
}
.form-group {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}
.form-group > input {
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 2.5px;
    border-radius: 5px;
    border: 2px solid gray;
}
.form-group > select {
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 2.5px;
    border-radius: 5px;
    border: 2px solid gray;
}
.textarea-section {
    min-width: 250px;
    width: 100%;
    padding: 5px;
    background-color: #ababab;
    border-radius: 5px;
    margin: 10px 0;
}
.textarea-section textarea {
    resize: vertical;
    height: 150px;
    min-height: 250px;
}
.buttons-section {
    width: 250px;
    padding: 5px;
    background-color: #ababab;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
}
form {
    padding: 10px;
}
.form-section-label {
    margin: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.upload-group {
    width: 200px;
    margin: 5px auto;
    background-color: #696969;
}
.upload-button {
    text-align: center;
    border-radius: 5px;
    background-color: #ababab;
    padding: 3px;
    cursor: pointer;
}
.file-choosen {
    text-align: center;
    margin: 0;
    padding: 3px;
}
/*
    Common form style [END]
*/

/*
    Pagination style [BEGIN]
*/

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}
.pagination > .pagination-element {
    padding: 2.5px 7px;
    margin-left: 5px;
    background-color: #373737;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.pagination > .pagination-element:first-child {
    margin-left: 0;
}
/*
    Pagination style [END]
*/