a.email {
    color: #B14949;
}
.text-value-marker {
    color: #B14949;
    font-size: 16px;
    font-weight: 700;
}
.admin-panel-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.admin-panel-option {
    text-align: center;
    flex-basis: 30%;
    height: 150px;
    line-height: 150px;
    line-height: 150px;
    margin: 10px 0;
    background-color: #a9a9a9;
    text-decoration: none;
    color: white;
    font-size: 22px;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.admin-panel-option:hover {
    transform: scale(1.1);
    background-color: black;
}
.admin-panel-option > * {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}