@model Mailings.Web.ViewModels.MailingResponseViewModel
@section Content
{
    <h2 class="main-text">Configuration response</h2>
    @if (Model.IsSuccess)
    {
        <div class="text-block">
            <p>Success!</p>
            <p>Mailing start working successfully!</p>
        </div>
    }
    else
    {
        <div class="text-block">
            <p>Failed!</p>
            <p>Mailing is not applied your configuration and stopped.</p>
        </div>
        <div class="text-block">
            <p>Please, for warn about this error write on 
                <a href="@ViewBag.WriteToEmailLink">
                    oleksii.havryk2004@gmail.com
                </a>
            </p>
        </div>
    }
    <div class="action-block">
        <btn action="More" controller="Mailings" data="new { id = @Model.Id }">Back</btn>
    </div>
}