@using IdentityModel
@using Mailings.Web.Shared.StaticData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    bool CheckUserRole(params Roles[] checkRoles)
    {
        if (User.Identity is System.Security.Claims.ClaimsIdentity claims)
        {
            var roles = claims
                .FindAll(c => c.Type.Contains("/" + JwtClaimTypes.Role))
                .Select(c => c.Value)
                .ToHashSet();

            var stringCheckRoles = checkRoles
                .Select(r => r.ToString());

            if (roles.IsSubsetOf(stringCheckRoles))
                return true;
        }

        return false;
    };
}
<header class="header">
    <div class="header-block header-upper-block">
        <a asp-action="Index" asp-controller="Home">
            <img class="company-logo" src="\img\logo.jpg"/>
        </a>
        <h1 class="header-text">Mailings</h1>
    </div>
    <div class="header-block">
        <nav class="navigation">
            @if (!User.Identity?.IsAuthenticated is true)
            {
                <navsec action="Login" controller="Home">Login</navsec>
            }
            else
            {
                <navsec action="Logout" controller="Home">Logout</navsec>
                <navsec action="Profile" controller="User">Profile</navsec>
                @if (CheckUserRole(Roles.BetaTester, Roles.Administrator))
                {
                    <navsec action="All" controller="Mails">Mails</navsec>
                    <navsec action="Index" controller="Mailings">Mailings</navsec>
                }
                @if (CheckUserRole(Roles.Administrator))
                {
                    <navsec action="Panel" controller="Admin">Admin panel</navsec>
                }
            }
        </nav>
    </div>
</header>