@model ChangingUserDataViewModel
@section Content {
    <h2 class="main-text">Change profile data</h2>
    <form method="post" 
          asp-action="Change" asp-controller="User">
        <div class="form-section">
            <h3 class="form-section-label">User data</h3>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"/>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName"/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
            </div>
        </div>
        <div class="buttons-section">
            <button type="submit" class="button">Change</button>
        </div>
    </form>
}