@model string
@{
}
@section Content
{
    <h2 class="main-text">Error</h2>
    <div class="center-text">
        <p>Occurred unknown error when following a link.</p>
        <p>Path: @Model</p>
        <p>Please, report about this error on 
            <a class="email" href="@ViewBag.EmailLink">
                oleksii.havryk2004@gmail.com
            </a>
        </p>
    </div>
}