@model GeneratedAccountViewModel
@section Content
{
    <h2 class="main-text">Account is successfully generated!</h2>
    <p>Printed or copy this access data from beta test account.</p>
    <list struct="Block">
        <el>Username: <span class="text-value-marker">@Model.UserName</span></el>
        <el>Password: <span class="text-value-marker">@Model.Password</span></el>
        <el>Email: <span class="text-value-marker">@Model.Email</span></el>
    </list>
    <div class="center-text">
        <button class="button copy">Copy</button>
        <button class="button print">Print</button>
    </div>
}