@section Content{
    <div class="admin-panel-options">
        <a class="admin-panel-option"
           asp-action="GenerateAccount" asp-controller="Admin">
            <span>
                Generate beta test account
            </span>
        </a>
    </div>
}