@{
    var returnUrl = ViewContext.ModelState["returnUrl"]?.RawValue as string;
}
<header class="header">
    <div class="header-block header-upper-block">
        <img class="company-logo" src="\img\logo.jpg"/>
        <h1 class="header-text">Authentication</h1>
    </div>
    <div class="header-block">
        <nav class="navigation">
            <a class="navigation-section" asp-action="SignIn" asp-controller="Account"
               asp-route-returnUrl="@returnUrl">
                Sign in
            </a>
            <a class="navigation-section" asp-action="Register" asp-controller="Account"
               asp-route-returnUrl="@returnUrl">
                Sign up
            </a>
        </nav>
    </div>
</header>